# General
PROJECT_NAME=alixar
RESTART=no
CODE_DIRECTORY=.

# User Identity
USER_ID=1000
GROUP_ID=1000

# NGINX Configuration
NGINX_CONTAINER=alixar_nginx
NGINX_DIRECTORY=./.docker/nginx
HTTP_PORT=8083
HTTPS_PORT=9445

# PHP Configuration
PHP_VERSION=8.2
PHP_CONTAINER=alixar_php
PHP_CONFIG_DIRECTORY=./.docker/php

# MARIADB Configuration
MARIADB_VERSION=10.11
MARIADB_CONTAINER=alixar_db
MARIADB_DATABASE=alixar_db
MARIADB_ROOT_PASSWORD=root
MARIADB_PORT=3401

# PHPMyAdmin Configuration
PHPMYADMIN_CONTAINER=alixar_phpmyadmin
PHPMYADMIN_PORT=9083

# API Test Configuration
# DOLIBARR_PATH=../dolibarr
# DOLAPIKEY=

APITEST_DOLIBARR_PORT=8090
APITEST_ALIXAR_PORT=8091
APITEST_PHPMYADMIN_PORT=9090
APITEST_DB_PORT=3490
